@import url(variables.css);

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    background-color: var(--background-cor);
    color: var(--font-cor);
    text-decoration: none;
    font-family: var(--primary-font);
}

body {
    margin: 0 10%;
}

/* Header */

.header {
    margin: 1em 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.header_nav {
    margin: 1em 0;
}

.header_nav_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header_nav_list_item {
    text-transform: uppercase;
    margin: 0 1em;
    transition: all 0.3s ease;
    text-decoration: none;
}

.header_nav_list_item:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* Footer */

footer {
    text-align: center;
    
}

.footer_container {
    display: flex;
    justify-content: space-around;
}

.footer_container_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_redes_sociais {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1em;
}

.footer_redes_sociais_icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}
  
.footer_redes_sociais a:hover img {
    transform: scale(1.2);
}

.footer_container_right {
    align-self: center;
}

.footer_container_right_curriculo {
    padding: 10px;
    border-radius: 5%;
    background-color: var(--tag-background-cor);
}