:root {
    --font-cor: rgb(51, 51, 51);
    --background-cor: rgb(173, 173, 173);
    --tag-background-cor: #1572B6;
    --experiencia-head-background-cor: #333333d5;
    --primary-font: 'Montserrat', sans-serif;
}